.subtitle{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-main);
}
.title{
    font-family: "Alexandria", sans-serif;
    font-weight: 400;
    font-size: 57.33px;
    color: var(--text-primary);
}
.highlight{
    color: var(--accent-dark);
}
.orderbtn{
    width: 165px;
    height: 49px;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-main);
    background-color: var(--accent);
    border: none;
    border-radius: 5px;


    transition: background-color 0.3s ease, transform 0.3s ease !important;

    &:hover{
        background-color: var(--accent-dark) !important;
        transform: translateY(-2px);
    }
}