.Sect2{
    height: 720px;
}

.text{
    font-family: "Alexandria", sans-serif;
    font-weight: 400;
    font-size: 57.33px;
    color: var(--text-main);
}

.highlight{
    color: var(--text-secondary);
}