.section3{
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding: 60px 0;
    height: 749px;
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 60px,
        black calc(100% - 60px),
        transparent 100%
    );
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 60px,
        black calc(100% - 60px),
        transparent 100%
    );

}

.title{
    font-family: "Alexandria", sans-serif;
    font-weight: 400;
    font-size: 57.33px;
    color: var(--text-main);
}

.swapper{
    position: absolute;
    top: 60px;
    right: 100px;
}